.center{
display: flex;
justify-content: center;
align-items: center;
}
.btn{
    display: flex;
    text-align: center;
    padding-left: 8px;
    padding-top: 3px;
    margin: 7px;
    cursor: pointer;
    background: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 5px;
    color: aliceblue;
}